<%- include("partials/header.ejs") %>
  <div class="box" id="heading">
    <h1>
      Work List
    </h1>
</div>
<div class="box">
  <% if(locals.items && locals.items.length !== 0 ) { %>
  <% for(let i=0;i<items.length;i++){ %>
   <% console.log("items[i]", items[i]) %>
    <div class="item">
     <input type ="checkbox" />
     <p><%= items[i] %></p>
    </div>

 <%   } %>
  <% } else { %>
    <div></div>
    <% } %> 
  <form action="/work" class="item" method="POST">
    <input type="text" placeholder="New Item" name="newItem"/>
    <button type="submit" name="list" value = "Work">+</button>

  </form>
</div>
<%- include("partials/footer.ejs") %>
